// Import
@import "variables.scss";

.u-s {
    font-family: $font;
    font-size: 18px;
    overflow-x: hidden;
  }
  
  .n-res {
    display: none;
  }
  
  // Top Div
  .top {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 8% !important;
  }
  
  // Bottom Div
  .bottom {
    position: relative;
    width: 100%;
    height: auto;
    background: $light-violet;
    padding-bottom: 18% !important;
  }
  
  .a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent !important;
  }
  
  button {
    -webkit-tap-highlight-color: transparent !important;
  }
  
  // Illustration
  .i-w {
    position: relative;
    top: 0;
    left: 120%;
    transform: translate(-120%, 0) !important;
  }
  
  // Text
  .text {
    width: 34%;
    position: absolute;
    top: 8%;
    left: 12.4%;
    transform: translate(-12.4%, 8%) !important;
  }
  
  .h {
    font-size: 3.5rem;
    color: $v-dark-blue;
    line-height: 1.2 !important;
    margin-bottom: 0.2em !important;
  }
  
  .b {
    width: 100% !important;
    color: $grayish-violet;
    margin-bottom: 0.4em !important;
  }
  
  .t-br-2 {
    display: none;
  }
  
  // Get Started Btn
  .a-gs {
    -webkit-tap-highlight-color: transparent !important;
  }
  .g-s {
    width: auto;
    height: auto;
    padding: 0.6em 2em 0.6em 2em !important;
    border-radius: 30px;
    font-family: $font;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    background: $cyan;
    color: #fff !important;
    text-align: center !important;
    border: 0px solid transparent !important;
    outline: none !important;
    transition: all 250ms ease !important;
  
    &:hover {
      opacity: 0.6 !important;
    }
  
  &:active {
      transform: scale(0.98) !important;
  }
  }
  
  .middle {
    background-image: linear-gradient(#fff 50%, $light-violet 50%);
  }
  
  .mid {
    position: relative;
    width: 82%;
    height: 8em;
    background: $dark-violet;
    margin: 0 8% 0 8% !important;
    border-radius: 8px;
  }
  
  .m-bg {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-image: url(../assets/bg-shorten-desktop.svg);
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
  }
  
  .u-s-div {
    position: absolute;
    width: 92%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    z-index: 1 !important;
  }
  
  // Input
  .u-s-i {
    outline: none !important;
    border: 0 solid transparent;
    border-radius: 8px;
    width: 36em !important;
    height: auto;
    padding: 0.6em 0 0.6em 1em !important;
    font-family: $font;
    font-size: 18px;
    font-weight: 500;
    margin-left: 2em !important;
    color: $v-dark-violet !important;
  }

  .shortener-form input.error {
    border: 2px solid rgb(226, 64, 64) !important;
  }
  .shortener-form input.error::placeholder {
    color: rgb(226, 64, 64) !important;
  }

  .error-text {
    color: rgb(226, 64, 64) !important;
    font-style: italic !important;
    margin-top: 0.5em !important;
    margin-left: 2em !important;
  }

  .md {
    height: 10em !important;
  }
  
  // Shorten It Btn
  .s {
    width: auto;
    height: auto;
    padding: 0.6em 2em 0.6em 2em !important;
    border-radius: 8px;
    font-family: $font;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    background: $cyan;
    color: #fff !important;
    text-align: center !important;
    border: 0px solid transparent !important;
    outline: none !important;
    margin-left: 2em !important;
    transition: all 250ms ease !important;
  
    &:hover {
      opacity: 0.8 !important;
    }
  
  &:active {
      transform: scale(0.98) !important;
  }
  }
  
  // Shortened Links
  .sh-l-bg, .sh-l-bg-2 {
    background: $light-violet;
  }
  
  .s-links-bg {
    position: relative;
    width: 82%;
    height: 5em;
    background: #fff;
    margin: 0 8% 2em 8% !important;
    border-radius: 8px;
  }
  
  .s-links-div {
    position: absolute;
    width: 93%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
  }
  
  .sh-links, .sh-links-2 {
    font-size: 18px;
  }

  .sh-links {
      width: 50%;
  }
  
  .sh-links-2 {
      position: absolute;
      top: 50%;
      right: 14%;
      transform: translate(-14%, -50%) !important;
  }

  .a-sh-links {
    text-decoration: none !important;
    color: $cyan;
  }
  
  // Copy Btn
  .cy-bg {
    position: absolute;
    top: 50%;
    right: 0% !important;
    transform: translate(0%, -50%) !important;
  }
  
  .cy {
    width: auto;
    height: auto;
    padding: 0.6em 2em 0.6em 2em !important;
    border-radius: 8px;
    font-family: $font;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    background: $cyan;
    color: #fff !important;
    text-align: center !important;
    border: 0px solid transparent !important;
    outline: none !important;
    transition: all 250ms ease !important;
  
    &:hover {
      opacity: 0.6 !important;
    }
  
  &:active {
      transform: scale(0.98) !important;
  }
  }
  
  .change {
    background: $dark-violet;
  }
  
  // Spacing Div
  .space {
    width: 100%;
    height: auto;
    background: $light-violet;
    padding: 0 0 2em 0 !important;
  }
  
  // Links Div
  .s-links-bg-2 {
    position: relative;
    width: 82%;
    height: auto;
    background: #fff;
    padding: 1.5em 0 1.5em 0 !important;
    margin: 0 8% 2em 8% !important;
    border-radius: 8px;
  }
  
  .ul-s-links {
    list-style-type: none;
  }
  
  .a-sh-links-2 {
    text-decoration: none !important;
    color: $cyan;
  }

  .l-s-links-1 {
    width: 50% !important;
    margin-left: 2em !important;
  }

  .l-s-links-2 {
    position: absolute;
      top: 50%;
      right: 3.6%;
      transform: translate(-3.6%, -50%) !important;
  }
  
  // Text 2
  .text-2 {
   text-align: center;
  }
  
  .h-2 {
    color: $v-dark-blue;
    padding-top: 0.5em !important;
    margin-bottom: 0.2em !important;
  }
  
  .b-2 {
    color: $grayish-violet;
  }
  
  // Features
  .f {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 5em !important;
  }
  
  .f-1, .f-2, .f-3 {
    width: 28%;
    height: auto;
    background: #fff;
    margin-left: 2.5em !important;
    border-radius: 8px;
    padding: 1.5em 1.5em 1.5em 1.6em !important;
    z-index: 1 !important;
  }
  
  .f-1 {
    margin-left: 9% !important;
  }
  
  .f-2 {
    margin-top: 4% !important;
    margin-bottom: -4% !important;
  }
  
  .f-3 {
    margin-right: 9% !important;
    margin-top: 8% !important;
    margin-bottom: -8% !important;
  }
  
  .f-h {
    color: $v-dark-blue;
    margin-bottom: 0.5em !important;
  }
  
  .f-b {
    color: $grayish-violet;
    font-size: 16px;
  }
  
  .i-bg {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: $dark-violet;
    margin-top: -25% !important;
    margin-bottom: 1.5em !important;
  }
  
  .f-i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
  }
  
  .bg-l {
    position: absolute;
    top: 74%;
    left: 50%;
    transform: translate(-50%, -74%) !important;
    width: 82%;
    height: 0.6em;
    background: $cyan;
  }
  
  // Boost
  .boost {
    position: relative;
    width: 100%;
    height: 12em;
    background: $dark-violet;
  }
  
  .b-bg {
    width: 100%;
    height: 100%;
    background-image: url(../assets/bg-boost-desktop.svg);
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
  }
  
  .b-con {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%) !important;
  }
  
  .b-text {
    color: #fff;
  }
  
  .b-btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 70%) !important;
  }
  
  .g-s-2 {
    width: auto;
    height: auto;
    padding: 0.6em 2em 0.6em 2em !important;
    border-radius: 30px;
    font-family: $font;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    background: $cyan;
    color: #fff !important;
    text-align: center !important;
    border: 0px solid transparent !important;
    outline: none !important;
    transition: all 250ms ease !important;
  
  &:active {
      transform: scale(0.98) !important;
  }
  }
  
  // Media Queries
  // 1024px
  @media screen and (max-width: 1024px) {
    .i-w {
      width: 600px !important;
      height: auto !important;
    }
  
  // Text
  .text {
    width: 40%;
  }
  
    .h {
    font-size: 3.2rem;
    color: $v-dark-blue;
    line-height: 1.2 !important;
    margin-bottom: 0.2em !important;
  }
  
  .b {
    width: 100% !important;
    color: $grayish-violet;
    margin-bottom: 0.4em !important;
    }
  
    .t-br, .t-br-1 {
    display: none;
  }
  
  .mid {
    position: relative;
    width: 82%;
    height: 12em;
    background: $dark-violet;
    margin: 0 8% 0 8% !important;
    border-radius: 8px;
    }

    .md {
      height: 14em !important;
    }
  
  .u-s-div {
    position: absolute;
    width: 92%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    z-index: 1 !important;
  }
  
    // Input
  .u-s-i {
    width: 36em !important;
    height: auto;
    padding: 0.6em 0 0.6em 1em !important;
  }
  
  // Shorten It Btn
  .s {
    margin-top: 1em !important;
    width: auto;
    height: auto;
    padding: 0.6em 2em 0.6em 2em !important;
    }

    .sh-links-2 {
        position: absolute;
        top: 50%;
        right: 16%;
        transform: translate(-16%, -50%) !important;
    }
  
    .bg-l {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -62%) !important;
    }
  
    .h-2 {
    padding-top: 0.2em !important;
  }
  }
  
  // 768px
  @media screen and (max-width: 768px) {
  // Illustration
  .i-w {
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0) !important;
  }
  
  // Text
  .text {
    width: 100%;
    margin-top: 2em !important;
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%) !important;
    text-align: center !important;
    }
  
    .t-br, .t-br-1 {
    display: block;
  }
  
    .mid {
      margin-top: 3em !important;
    }
  
    // Input
  .u-s-i {
    width: 27em !important;
    height: auto;
    padding: 0.6em 0 0.6em 1em !important;
  }
  
  // Shorten It Btn
  .s {
    margin-top: 1.5em !important;
    width: auto;
    height: auto;
    padding: 0.6em 2em 0.6em 2em !important;
    }
  
    // Shortened Links
    .s-links-bg {
      height: 15em !important;
    }
  
    .sh-links {
    position: relative;
    margin-left: 0.8em !important;
    }

    .sh-links-2 {
        position: absolute;
        top: 0;
        right: 2%;
        transform: translate(-2%, 0) !important;
    }
  
    // Copy Btn
  .cy-bg {
    position: relative;
    top: 0%;
    right: 0% !important;
    transform: translate(0%, 0%) !important;
    margin-top: 1em !important;
    margin-left: 0.8em !important;
  }

  .l-s-links-1 {
      width: 40% !important;
  }

  .l-s-links-2 {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-5%, -50%) !important;
  }
  
  .h-2 {
    padding-top: 0.4em !important;
  }
  
    // Features
  .f {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5em !important;
  }
  
  .f-1, .f-2, .f-3 {
    width: 36%;
    height: auto;
    background: #fff;
    margin-left: 0em !important;
    z-index: 1 !important;
  }
  
  .f-1 {
    margin: 0 auto !important;
  }
  
  .f-2 {
    margin: 10% auto 0 auto !important;
  }
  
  .f-3 {
    margin: 10% auto 0 auto !important;
  }
  
  .f-h {
    color: $v-dark-blue;
    margin-bottom: 0.5em !important;
    text-align: center !important;
  }
  
  .f-b {
    color: $grayish-violet;
    font-size: 16px;
    text-align: center !important;
  }
  
  .i-bg {
    margin-top: -25% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: 1.5em !important;
  }
  
  .bg-l {
    position: absolute;
    top: 5em;
    left: 50%;
    transform: translate(-50%, -5em) !important;
    width: 0.6em;
    height: 82%;
    background: $cyan;
    }
  
    .b-con {
    width: 100% !important;
    }
  
    .b-text {
      text-align: center !important;
    }
  }
  
  // 575px
  @media screen and (max-width: 575px) {
    // Top Div
    .top {
      padding-bottom: 10% !important;
    }
  
  // Illustration
  .i-w {
    position: relative;
    top: 0;
    left: -54%;
    transform: translate(54%, 0) !important;
    width: 480px !important;
    height: auto !important;
  }
  
  // Text
  .text {
    width: 100%;
    margin-top: 2em !important;
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%) !important;
    text-align: center !important;
    }
  
    .h {
    font-size: 2.5rem;
    color: $v-dark-blue;
    line-height: 1.2 !important;
    margin-bottom: 0.2em !important;
  }
  
  .t-br-1 {
    display: none;
  }
  
  .t-br-2 {
    display: block;
  }
  
  .b {
    font-size: 16px;
  }
  
  .m-bg {
    background-image: url(../assets/bg-shorten-mobile.svg) !important;
  }
  
  .mid {
    height: 10em;
  }
  
  .u-s-div {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%) !important;
    z-index: 1 !important;
  }
  
  // Input
  .u-s-i {
    width: 14em !important;
    height: auto;
    padding: 0.6em 0 0.6em 1em !important;
  }
  
  // Shorten It Btn
  .s {
    margin-top: 1em !important;
    width: 15em;
    height: auto;
    padding: 0.6em 0 0.6em 0em !important;
    }
  
  // Shorten It Btn
  .s {
    margin-top: 1.5em !important;
    width: 15em;
    height: auto;
    padding: 0.6em 2em 0.6em 2em !important;
    }
  
    // Shortened Links
    .s-links-bg {
      height: auto !important;
    }

    .s-links-div {
        padding: 2em !important;
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0) !important;
        width: 100%;
    }
  
    .sh-links {
    position: relative !important;
    margin-left: 2em !important;
    width: 25% !important;
    }

    .sh-links-2 {
        position: relative !important;
        margin-left: 2.8em !important;
        }

    .h-line {
        margin-top: 1em !important;
        margin-bottom: 1em !important;
        width: 100%;
        height: 0.08em;
        border-radius: 30px;
        background: $grayish-violet;
    }
  
    // Copy Btn
  .cy-bg {
    position: relative;
    top: 0%;
    right: 0% !important;
    transform: translate(0%, 0%) !important;
    margin-top: 1em !important;
    margin-left: 2em !important;
    margin-right: 2em !important;
  }
  
  .cy {
    width: 15em;
    height: auto;
    padding: 0.6em 2em 0.6em 2em !important;
  }
  
  .l-s-links-1 {
    width: 25% !important;
}

.l-s-links-2 {
  position: relative;
  top: 0;
  right: 0;
  transform: translate(0, 0) !important;
  margin-left: 2em !important;
}

  .h-2 {
    font-size: 1.65em !important;
    padding-top: 0.2em !important;
  }
  
  .t-2-br-1 {
    display: none;
  }
  
  .b-2 {
    font-size: 16px !important;
    padding-left: 3em !important;
    padding-right: 3em !important;
  }
  
    // Features
  .f {
    margin-top: 25% !important;
  }
  
  .f-1, .f-2, .f-3 {
    width: 70%;
    height: auto;
    background: #fff;
    margin-left: 0em !important;
    z-index: 1 !important;
  }
  
  .f-1 {
    margin: 0 auto !important;
  }
  
  .f-2 {
    margin: 25% auto 0 auto !important;
  }
  
  .f-3 {
    margin: 25% auto 0 auto !important;
  }
  
  .i-bg {
    margin-top: -24% !important;
    }
  
    .b-bg {
      background-image: url(../assets/bg-boost-mobile.svg);
    }
  
    .b-text {
      font-size: 1.5em !important;
    }
  }
  
  // 375px
  @media screen and (max-width: 375px) {
  // Illustration
  .i-w {
    position: relative;
    top: 0;
    left: -30%;
    transform: translate(30%, 0) !important;
    width: 480px !important;
    height: auto !important;
  }
  
  // Text
  .text {
    width: 100%;
    margin-top: 2em !important;
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%) !important;
    text-align: center !important;
    }
  
    .h {
    font-size: 2.5rem;
    color: $v-dark-blue;
    line-height: 1.2 !important;
    margin-bottom: 0.2em !important;
  }
  
  .t-br-1 {
    display: none;
  }
  
  .b {
    font-size: 16px;
  }
  
  .m-bg {
    background-image: url(../assets/bg-shorten-mobile.svg) !important;
  }
  
  .u-s-div {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%) !important;
    z-index: 1 !important;
  }
  
  // Input
  .u-s-i {
    width: 12em !important;
    height: auto;
    padding: 0.6em 0 0.6em 1em !important;
  }
  
  // Shorten It Btn
  .s {
    margin-top: 1em !important;
    width: 13em;
    height: auto;
    padding: 0.6em 0 0.6em 0em !important;
    }
  
    .sh-links {
    margin-left: 2em !important;
    }
  
    // Copy Btn
    .cy-bg {
    margin-left: 2em !important;
    margin-right: 2em !important;
  }
  
    .cy {
    width: 13.2em;
    height: auto;
    padding: 0.6em 2em 0.6em 2em !important;
  }
  
  .t-2-br-1 {
    display: none;
  }
  
  .b-2 {
    font-size: 16px !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
  
    // Features
  .f {
    margin-top: 25% !important;
  }
  
  .f-1, .f-2, .f-3 {
    width: 70%;
    height: auto;
    background: #fff;
    margin-left: 0em !important;
    z-index: 1 !important;
  }
  
  .f-1 {
    margin: 0 auto !important;
  }
  
  .f-2 {
    margin: 25% auto 0 auto !important;
  }
  
  .f-3 {
    margin: 25% auto 0 auto !important;
  }
  
  .i-bg {
    margin-top: -24% !important;
    }
  
    .b-bg {
      background-image: url(../assets/bg-boost-mobile.svg);
    }
  
    .b-text {
      font-size: 1.5em !important;
    }
  }
  
  // 360px
  @media screen and (max-width: 360px) {
  .u-s-div {
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translate(20%, -50%) !important;
    z-index: 1 !important;
    }
  
    .cy {
    width: 12.9em;
    }
  }
  
  // 320px
  @media screen and (max-width: 320px) {
    .inner {
      display: none;
    }
  
    .n-res {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    display: block;
    width: 50%;
    height: auto;
    padding: 1em !important;
    background: rgb(226, 64, 64);
    border-radius: 6px;
  }
  
  .n-res-h {
    color: #fff;
    text-align: center;
    }
  }
