// Font Link
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

// Colors
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
$red: hsl(0, 87%, 67%);
$gray: hsl(0, 0%, 75%);
$light-violet: hsl(230, 25%, 95%);
$grayish-violet: hsl(257, 7%, 63%);
$v-dark-blue: hsl(255, 11%, 22%);
$v-dark-violet: hsl(260, 8%, 14%);

// Font
$font: 'Poppins', sans-serif;